#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
// #include <dt-bindings/zmk/modifiers.h>

// #include "locale/keys_fr.h"
#include "locale/keymap_fr.h"

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 200    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT

// #define TAP_MS 200

// define BASE 0 ...
// https://github.com/infused-kim/zmk-config-sofle/blob/main/config/sofle.keymap
#define BASE 0
#define ALTGRD 1
#define LAFAYETTE 2
#define NAVI 3
#define FONCTIONS 4
#define BT_OUT_SYS 5

// #define KP_COMMA_SEM     &kp COMMA &sk LEFT_SHIFT &kp SEMICOLON  // , / ;
// #define KP_DOT_CLN       &kp DOT   &sk LEFT_SHIFT &kp COLON      // . / :
// #define KP_EXCL_QST      &kp EXCL  &sk LEFT_SHIFT &kp QUESTION   // ! / ?

// #define KP_FR_COMMA_SEMI &kp FR_COMMA &sk LEFT_SHIFT &kp FR_SEMICOLON  // , / ;
// #define KP_FR_DOT_COLON  &kp FR_DOT   &sk LEFT_SHIFT &kp FR_COLON      // . / :
// #define KP_FR_EXCL_QUEST &kp FR_EXCL  &sk LEFT_SHIFT &kp FR_QUESTION   // ! / ?

// #define FR_COMMA_SEMI FR_SEMICOLON FR_COMMA
// #define FR_DOT_COLON  FR_COLON FR_DOT
// #define FR_EXCL_QUEST FR_QUESTION FR_EXCL

/ {

   // Activate BT_OUT_SYS layer by pressing ALTGRD and FONCTIONS
    conditional_layers {
        compatible = "zmk,conditional-layers";
        adajust_layer {
            if-layers = <FONCTIONS ALTGRD>;
            then-layer = <BT_OUT_SYS>;
        };
    };

    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;     // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;     // 500
            delay-ms = <0>;                   // 10
        };

        macros {

            a_circumflex: a_circumflex{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_CIRC &kp FR_A>;
            };
            e_circumflex: e_circumflex{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_CIRC &kp FR_E>;
            };
            i_circumflex: i_circumflex{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_CIRC &kp FR_I>;
            };
            o_circumflex: o_circumflex{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_CIRC &kp FR_O>;
            };
            u_circumflex: u_circumflex{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_CIRC &kp FR_U>;
            };

            a_diaeresis: a_diaeresis{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_UMLAUT &kp FR_A>;
            };
            e_diaeresis: e_diaeresis{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_UMLAUT &kp FR_E>;
            };
            i_diaeresis: i_diaeresis{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_UMLAUT &kp FR_I>;
            };
            o_diaeresis: o_diaeresis{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_UMLAUT &kp FR_O>;
            };
            u_diaeresis: u_diaeresis{
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <40>;
                bindings = <&kp FR_UMLAUT &kp FR_U>;
            };

            // comma_semicolon: comma_semicolon {
            //     compatible = "zmk,behavior-hold-tap";
            //     #binding-cells = <2>;
            //     tapping-term-ms = <200>; // Adjust as needed
            //     bindings = <&kp FR_COMMA>, <&kp FR_SEMICOLON>;
            // };

            // comma_semicolon: comma_semicolon {
            //     compatible = "zmk,behavior-hold-tap";
            //     #binding-cells = <2>;
            //     tapping-term-ms = <200>;  // Time to distinguish between tap and hold
            //     bindings = <&kp KC_COMMA>, <&kp KC_SCLN>;
            // };

        };

    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

    // TODO: caps & return / long tap pour ,.! vers ;:?  FR_COMMA FR_SEMICOLON
        Base {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |            |      ESC       |        1       |        2       |        3       |        4       |        5       |   UP_ARROW     |        6       |        7       |        8       |        9       |        0       |      DELETE    |
// |            |      TAB       |        A       |        Z       |        E       |        R       |        T       |   DOWN_ARROW   |        Y       |        U       |        I       |        O       |        P       |      BKSPC     |
// |            |     CAPS       |        Q       |        S       |        D       |        F       |        G       |   LEFT_ARROW   |        H       |        J       |        K       |        L       |        M       |      ENTER     |
// |            |     LSHFT      |        W       |        X       |        C       |        V       |        B       |   RIGHT_ARROW  |        N       |      ,  ;      |       . :      |       ! ?      | &sl LAFAYETTE  |      SHIFT     |
// | C_MUTE     |                | &mo FONCTIONS  |    LEFT_GUI    |    LEFT_ALT    | SPACE &lt NAVI |     LCTRL      |      ENTER     |     RCTRL      |     SPACE      |  &mo ALTGRD    |      K_CMENU   | &mo FONCTIONS  |                |

            bindings = <
                 &kp ESC          &kp FR_1         &kp FR_2         &kp FR_3         &kp FR_4         &kp FR_5         &kp UP_ARROW     &kp FR_6         &kp FR_7         &kp FR_8         &kp FR_9         &kp FR_0         &kp DELETE
                 &kp TAB          &kp FR_A         &kp FR_Z         &kp FR_E         &kp FR_R         &kp FR_T         &kp DOWN_ARROW   &kp FR_Y         &kp FR_U         &kp FR_I         &kp FR_O         &kp FR_P         &kp BACKSPACE
                 &kp CAPS         &kp FR_Q         &kp FR_S         &kp FR_D         &kp FR_F         &kp FR_G         &kp LEFT_ARROW   &kp FR_H         &kp FR_J         &kp FR_K         &kp FR_L         &kp FR_M         &kp ENTER
                 &kp LSHFT        &kp FR_W         &kp FR_X         &kp FR_C         &kp FR_V         &kp FR_B         &kp RIGHT_ARROW  &kp FR_N &mt FR_SEMICOLON FR_COMMA &mt FR_COLON FR_DOT &mt FR_QUESTION FR_EXCL &sl LAFAYETTE   &kp RSHFT
&kp C_MUTE                        &mo FONCTIONS    &kp LEFT_GUI     &kp LEFT_ALT     &lt NAVI SPACE   &kp LCTRL        &kp ENTER        &kp RCTRL        &lt NAVI SPACE   &mo ALTGRD       &kp K_CMENU      &mo FONCTIONS

            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "Base";
        };

        AltGround {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |            |                |       €        |        ~       |        #       |        {       |        [       |   UP_ARROW     |        |       |        `       |       \        |        ^       |        @       |                |
// |            |                |       ^        |        <       |        >       |        $       |        %       |   DOWN_ARROW   |        +       |        `       |       '        |        "       |        *       |                |
// |            |                |       {        |        (       |        )       |        }       |        =       |   LEFT_ARROW   |        -       |        _       |       \        |        |       |        /       |                |
// |            |                |       ~        |        [       |        ]       |        @       |        #       |   RIGHT_ARROW  |        °       |        ;       |       :        |        &       |        @       |                |
// | C_MUTE     |                |                |                |                |                |                |      ENTER     |                |                |                |                |                |                |

            bindings = <
                 &trans            &kp FR_EURO     &kp FR_TILDE     &kp FR_HASH      &kp FR_LCBR      &kp FR_LBKT      &kp UP_ARROW     &kp FR_PIPE      &kp FR_GRAVE     &kp FR_BACKSLASH &kp FR_CIRC      &kp FR_AT        &trans
                 &trans            &kp FR_CIRC     &kp FR_LT        &kp FR_GT        &kp FR_DOLLAR    &kp FR_PERCENT   &kp DOWN_ARROW   &kp FR_PLUS      &kp FR_GRAVE     &kp FR_SQUOT     &kp FR_DQUOT     &kp FR_ASTERISK  &trans
                 &trans            &kp FR_LCBR     &kp FR_LPAR      &kp FR_RPAR      &kp FR_RCBR      &kp FR_EQUAL     &kp LEFT_ARROW   &kp FR_MINUS     &kp FR_UNDER     &kp FR_BACKSLASH &kp FR_PIPE      &kp FR_SLASH     &trans
                 &trans            &kp FR_TILDE    &kp FR_LBKT      &kp FR_RBKT      &kp FR_AT        &kp FR_HASH      &kp RIGHT_ARROW  &kp FR_DEGRE     &kp FR_SEMICOLON &kp FR_COLON     &kp FR_AMPERSAND &kp FR_AT        &trans
&kp C_MUTE                         &trans          &trans           &trans           &trans           &trans           &kp ENTER        &trans           &trans           &trans           &trans           &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "AltGr";
        };

        Lafayette {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |            |                |       &        |       é        |       "        |       '        |        (       |   UP_ARROW     |       -        |       è        |       _        |        ç       |        à       |                |
// |            |                |       à        |       é        |       è        |       €        |        ¨       |   DOWN_ARROW   |       ^        |       ù        |       _        |        "       |        £       |                |
// |            |                |       â        |       $        |       ê        |       &        |        (       |   LEFT_ARROW   |       )        |       û        |       î        |        ô       |        µ       |                |
// |            |                |       ä        |       æ        |       ç        |       ë        |        #       |   RIGHT_ARROW  |       •        |       ü        |       ï        |        ö       |        œ       |                |
// | C_MUTE     |                |                |                |                |                |                |      ENTER     |                |                |                |                |                |                |

            bindings = <
                 &trans           &kp FR_AMPERSAND &kp FR_E_ACUTE   &kp FR_DQUOT     &kp FR_SQUOT     &kp FR_LPAR      &kp UP_ARROW     &kp FR_UNDER     &kp FR_E_GRAVE   &kp FR_UNDER     &kp FR_C_CEDILLA &kp FR_A_GRAVE    &trans
                 &trans           &kp FR_A_GRAVE   &kp FR_E_ACUTE   &kp FR_E_GRAVE   &kp FR_EURO      &kp FR_UMLAUT    &kp DOWN_ARROW   &kp FR_CIRC      &kp FR_U_GRAVE   &kp FR_UNDER     &kp FR_DQUOT     &kp FR_POUND_SIGN &trans
                 &trans           &a_circumflex    &kp FR_DOLLAR    &e_circumflex    &kp FR_AMPERSAND &kp FR_LPAR      &kp LEFT_ARROW   &kp FR_RPAR      &u_circumflex    &i_circumflex    &o_circumflex    &kp FR_MICRO      &trans
                 &trans           &a_diaeresis     &kp FR_A         &kp FR_C_CEDILLA &kp FR_E         &kp FR_HASH      &kp RIGHT_ARROW  &kp FR_DOT       &u_diaeresis     &i_diaeresis     &o_diaeresis     &kp FR_O          &trans
&kp C_MUTE                        &trans           &trans           &trans           &trans           &trans           &kp ENTER        &trans           &trans           &trans           &trans           &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "Lafayette";
        };

        // TODO: à compléter
        Navigation {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |            |                |                |                |                |                |                |   MOVE_UP      |                |                |                |                |                |                |
// |            |                |     TAB        |      HOME      |    UP_ARROW    |      END       |    LC(HOME)    |   MOVE_DOWN    |       +        |       7        |       8        |       9        |        *       |                |
// |            |                |     CAPS       |   LEFT_ARROW   |   DOWN_ARROW   |  RIGHT_ARROW   |    LC(END)     |   MOVE_RIGHT   |       -        |       4        |       5        |       6        |        /       |                |
// |            |                |                |                |                |                |                |   MOVE_LEFT    |       0        |       1        |       2        |       3        |        .       |                |
// | C_MUTE     |                |                |                |                |                |                |   LCLK         |                |                |                |                |                |                |

            bindings = <
                 &trans           &none            &none            &none            &none            &none            &mmv MOVE_UP     &none            &none            &none            &none            &none            &none
                 &trans           &kp TAB          &kp HOME         &kp UP_ARROW     &kp END          &kp PAGE_UP      &mmv MOVE_DOWN   &kp FR_PLUS      &kp FR_7         &kp FR_8         &kp FR_9         &kp FR_ASTERISK  &trans
                 &trans           &kp CAPS         &kp LEFT_ARROW   &kp DOWN_ARROW   &kp RIGHT_ARROW  &kp PAGE_DOWN    &mmv MOVE_LEFT   &kp FR_MINUS     &kp FR_4         &kp FR_5         &kp FR_6         &kp FR_SLASH     &trans
                 &trans           &none            &none            &none            &none            &none            &mmv MOVE_RIGHT  &kp FR_0         &kp FR_1         &kp FR_2         &kp FR_3         &kp FR_DOT       &trans
&kp C_MUTE                        &trans           &trans           &trans           &trans           &trans           &mkp LCLK        &trans           &trans           &trans           &trans           &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "Navigation";
        };


        // TODO: à compléter
        Fonctions {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |            |       ²        |       F1       |       F2       |       F3       |       F4       |       F5       |   MOVE_UP      |       F6       |       F7       |       F8       |       F9       |       F10      |     INSERT     |
// |            |                |       F11      |       F12      |                |                |                |   MOVE_DOWN    |                |                |                |                |  PRINTSCREEN   |     INSERT     |
// |            |                |                |                |                |                |                |   MOVE_LEFT    |                |                |                |                |                |                |
// |            |                |     RGB_OFF    |      RGB_ON    |     RGB_EFF    |    RGB_EFR     |     RGB_SPI    |   MOVE_RIGHT   |    RGB_SPD     |    RGB_HUI     |     RGB_HUD    |     RGB_BRI    |     RGB_BRD    |                |
// | C_MUTE     |                |                |                |                |                |                |   LCLK         |                |                |                |                |                |                |

            bindings = <
                 &kp FR_SQUARE    &kp F1           &kp F2           &kp F3           &kp F4           &kp F5           &mmv MOVE_UP     &kp F6           &kp F7           &kp F8           &kp F9           &kp F10          &kp INSERT
                 &trans           &kp F11          &kp F12          &none            &none            &kp LC(HOME)     &mmv MOVE_DOWN   &none            &none            &none            &none            &kp PRINTSCREEN  &kp INSERT
                 &trans           &none            &none            &none            &none            &kp LC(END)      &mmv MOVE_LEFT   &none            &none            &none            &none            &none            &trans
                 &trans           &rgb_ug RGB_OFF  &rgb_ug RGB_ON   &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &mmv MOVE_RIGHT  &rgb_ug RGB_SPD  &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &trans
&kp C_MUTE                        &trans           &trans           &trans           &trans           &trans           &mkp LCLK        &trans           &trans           &trans           &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "Fn";
        };

        // TODO: à compléter / le F n'est là que pour tester
        BtOutSys {
// -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |            |                |                |                |                |                |                |   MOVE_UP      |                |                |                |                |                |                |
// |            |                |                |                |                |                |                |   MOVE_DOWN    |                |                |                |                |                |                |
// |            |                |                |                |                |        F       |                |   MOVE_RIGHT   |                |                |                |                |                |                |
// |            |                |                |                |                |                |                |   MOVE_LEFT    |                |                |                |                |                |                |
// | C_MUTE     |                |                |                |                |                |                |   LCLK         |                |                |                |                |                |                |

            bindings = <
                 &none            &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4     &mmv MOVE_UP     &kp F6           &kp F7           &kp F8           &kp F9           &kp F10          &none
                 &none            &bt BT_CLR       &bt BT_CLR_ALL   &none            &none            &none            &mmv MOVE_DOWN   &none            &none            &kp F11          &kp F12          &kp UNDER        &kp PLUS
                 &none            &out OUT_USB     &out OUT_BLE     &none            &kp FR_F         &none            &mmv MOVE_LEFT   &none            &none            &none            &none            &kp LBRC         &kp RBRC
                 &none            &sys_reset       &none            &bootloader      &none            &none            &mmv MOVE_RIGHT  &none            &none            &sys_reset       &soft_off        &bootloader      &none
&trans                            &trans           &trans           &trans           &trans           &trans           &mkp LCLK        &trans           &trans           &trans           &trans           &trans
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "BtOutSys";
        };
    };
};
